* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

div {
    /*background: rgba(0, 0, 0, .2);*/
    padding: 5px;
}
.top {
    margin: 5px;
}
.bottom{
    margin: 5px;
}
.bg-red {
    background: red;
}

.bg-blue {
    background: blue;
}

.bg-green {
    background: green;
}

.bg-yellow {
    background: yellow;
}

.parent {
    width: 800px;
    height: 800px;
}

.d-flex {
    display: flex;
}

/*.flex-row {*/
/*    flex-direction: row;*/
/*}*/

.flex-col {
    flex-direction: column;
}

.flex-j-space-between {
    justify-content: space-between;
}

.flex-j-flex-end {
    justify-content: flex-end;
}

.flex-align-self {
    align-self: flex-end;
}

.h-100 {
    height: 100px;
}

.w-100 {
    width: 100px;
}

.parent > .top, .parent > .bottom {
    flex: 1 1 100%;
}

.parent > .top > .right {
    flex: 0 0 50%;
}

.parent > .bottom > .right {
    flex: 0 0 50%;
}